@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $Arial;
}

body {
  margin: 0;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  font-weight: 400;
  cursor: default;
}